//$primary-color: #212529;
// $primary-color: #000;
// $secondary-color: #212529;
// $tertiary-color: #e9ecef;
// $quaternary-color: #696969;
// $accent-color: #adb5bd;


$primary-color: #131414;
$secondary-color: #595959;
$tertiary-color: #8e8f8f;
$quaternary-color: #ffffff;
$text-color: #b88e5c;

$baby-blue: #88ccf1ff;
$dark-jungle-green: #404E5C;
$columbia-blue: #c1dff0ff;
$tuscan-red: #7d4e57ff;
$forest-green-crayola: #60a561ff;